
.storeName {
    font-family: 'Bubblegum Sans', cursive;
    background: darkred;
    color: white;
    padding: 10px;
    border-top: 10px solid black;
    border-left: 10px solid black;
    border-right: 10px solid black;
    text-align: center;
    font-size: 30px;
}
.heading {
    background: darkred;
    color: white;
    border: 5px solid black;
}
.cart {
    border: 5px solid black;
}
.buttonDiv {
    margin: 50px;
    text-align: center;
}
.inputs {
    display: flex;
    justify-content: space-around;
    margin: 50px;
}
.cart {
    border: 5px solid black;
}
 .item{
    display: flex;
    justify-content: space-around;
}
    